@import "~@angular/material/theming";
@import "../../assets/pictures";
@import "../../styles/theme";

$profile-picture-size: 150px;
$profile-picture-offset: 18px;
$border-style: 4px solid;

.toolbar-layout {
  position: relative;
  flex-direction: row;
  display: flex;
  width: 100%;
}

.toolbars {
  display: flex;
  flex: 1 1 0px;
  flex-direction: column;

  #name {
    flex: 1 1 0px;
  }

  mat-toolbar {
    padding-left: $profile-picture-size;

    &.nav {
      justify-content: flex-end;
    }
  }
}

.profile-picture {
  background-image: url($profile-picture);
  background-size: cover;

  width: $profile-picture-size;
  height: $profile-picture-size;

  z-index: 10;
  position: absolute;
  left: -$profile-picture-offset;

  border-radius: 1000px;
  border: $border-style
}
